<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <title>ИТ для людей - Магнит</title>
    <link rel="icon" href="img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maxim-scale=1.0, user-scalable=0 /">
  </head>
  <body>
    <div class="wrapper">
      <header id="header" class="header">
        <div class="conteiner">
        <div class="header-top">
          <ul class="menu-header_top">
                    <li><a href="" class="menu-header_lin">Москва</a></li>
                      <li><a href="" class="menu-header_lin">Контакты</a></li>
                      <li><a href="" class="menu-header_lin">8 800 200 90 02</a></li>

                    </ul>
        </div>
          <div class="header_body">
        <div class="header-column">
          <a href="/" class="header_logo"><img class="logo" src="img/logo.png" alt=""></a>
        </div>
        <div class="header_colum menu-header">
          <div class="menu-header_icon">
            <span></span>
            <span></span>
            <span></span>
          </div>
        <nav class="menu-header_menu">
          <ul class="menu-header_list">
                      <li><a href="/" class="menu-header_link">На главную</a></li>
                      <li><a href="/add" class="menu-header_link">Подать идею</a></li>
                      <li><a href="/catalog" class="menu-header_link">Каталог идей</a></li>
                    <!--  <li><a href="#popup" class="menu-header_link">Вход/Регистрация</a></li>-->
                    </ul>
        </nav>
        </div>
        </div>
        </div>
      </header>
          <div class="contentcatalog">
          <h1 class="idea">Каталог идей</h1>
          <div class="search">
          <div>
            <form class="subform" action="/catalog" method="get">
          <input class="isk" type="search" placeholder="Поиск..." name="search" value="">
              <select class="sort" name="filter">
                <option value="title">Поле:</option>
                <option value="title">Заголовок</option>
                <option value="name">Имя</option>
                <option value="description">Описание</option>
                <option value="subdivision">Подразделение</option>
                <option sec:authorize="isAuthenticated()" value="status">Статус</option>
              </select>
              <button  type="submit" class="change"> Применить </button>
            </form>
            </div>
            <div class="select">
              <form class="subform" action="/catalog" method="get">
              <select class="sort" name="sort">
              <option value="date">Отсортировать по:</option>
              <option value="alphabet">по алфавиту</option>
              <option value="rate">по популярности</option>
              <option value="date">по дате</option>
              </select>
              <button  class="change"> Применить
            </button>
            </form>
            </div>
            </div>
          <div sec:authorize="isAuthenticated()" class="catalog">
            <div th:each="idea : ${adminIdeas}" class="info">
            <p th:text="${ 'Рейтинг:' + idea.rate}"class="rat">Рейтинг</p>
              <ul >
                <li class="title" th:text="${idea.title}">Название</li>
                <form class="subform" action="/catalog" method="post">
                  <button class="sub"type="submit" name="like"><img class="like" src="img/Like.png" alt="rh"></button>
                </form>
              </ul>
              <ul >
                <li class="name" th:text="${idea.lastName + ' ' + idea.name + ' ' + idea.middleName }">Имя</li>
                <li class="date" th:text="${idea.date}">Дата</li>
              </ul>
              <form class="subform" action="/catalog" method="post">
              <ul sec:authorize="isAuthenticated()" class="mail" >
                <li  th:text="${idea.email}">Майл</li>
                <li th:text="${idea.id}"></li>
                <li >
                  <select class="change" name="ideaChange">
                    <option value="waiting">Не рассмотренна</option>
                    <option value="checked">Рассмотренна</option>
                    <option value="delete">Удалить</option>
                  </select>
                </li>
              </ul>
              <ul >
                <li class="des">Описание</li>
                <li th:text="${idea.status}">Статус</li>
                <li sec:authorize="isAuthenticated()" class="rating">
                  <button  class="change" name="change_rating"> Применить
                </button>
                </li>
              </ul>
                <input type="hidden" class="hidden" th:name="id" th:value="${idea.id}" />
              </form>
              <p  class="description" th:text="${idea.description}">ОписаниеОписаниеОписание</p>
            </div>
          </div>
            <div class="catalog">
            <div th:each="idea : ${userIdeas}" class="info">
            <p th:text="${ 'Рейтинг:' + idea.rate}"class="rat">Рейтинг</p>
              <ul >
                <li class="title" th:text="${idea.title}">Название</li>
                <form class="subform" action="/like" method="get">
                  <button class="sub" type="submit" name="like" th:value="${idea.id}"><img class="like" src="img/Like.png" alt="rh"></button>
                </form>
              </ul>
              <ul >
                <li class="name" th:text="${idea.lastName + ' ' + idea.name + ' ' + idea.middleName }">Имя</li>
                <li class="date" th:text="${idea.date}">Дата</li>
              </ul>
              <form class="subform" action="/catalog" method="post">
              <ul sec:authorize="isAuthenticated()" class="mail" >

                <li  th:text="${idea.email}">Майл</li>
                <li th:text="${idea.id}"></li>
                <li >
                  <select class="change" name="ideaChange">
                    <option value="waiting">Не рассмотренна</option>
                    <option value="checked">Рассмотренна</option>
                    <option value="delete">Удалить</option>
                  </select>
                </li>
              </ul>
              <ul >
                <li class="des">Описание</li>
                <li th:text="${idea.status}">Статус</li>
                <li sec:authorize="isAuthenticated()" class="rating">
                  <button  class="change" name="change_rating"> Применить
                </button>
                </li>
              </ul>
                <input type="hidden" class="hidden" th:name="id" th:value="${idea.id}" />
              </form>
              <p  class="description" th:text="${idea.description}">ОписаниеОписаниеОписание</p>
            </div>
          </div>
        </div>
          <footer class="footer">
            <div class="conteiner">
              <div class="footer_row">
                <div class="footer_text"> 2020 &copy; MAGNIT</div>
              </div>
            </div>
          </footer>
    </div>
  </body>
</html>
