<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <title>ИТ для людей - Магнит</title>
    <link rel="icon" href="img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maxim-scale=1.0, user-scalable=0 /">

  </head>
  <body>
    <div class="wrapper">
      <header id="header" class="header">
        <div class="conteiner">
        <div class="header-top">
          <ul class="menu-header_top">
                    <li><a href="" class="menu-header_lin">Москва</a></li>
                      <li><a href="" class="menu-header_lin">Контакты</a></li>
                      <li><a href="" class="menu-header_lin">8 800 200 90 02</a></li>

                    </ul>
        </div>
          <div class="header_body">
        <div class="header-column">
          <a href="/" class="header_logo"> <img class="logo" src="img/logo.png" alt=""></a>
        </div>
        <div class="header_colum menu-header">
          <div class="menu-header_icon">
            <span></span>
            <span></span>
            <span></span>
          </div>
        <nav class="menu-header_menu">
          <ul class="menu-header_list">
                      <li><a href="/" class="menu-header_link">На главную</a></li>
                      <li><a href="/add" class="menu-header_link">Подать идею</a></li>
                      <li><a href="/catalog" class="menu-header_link">Каталог идей</a></li>
                    <!--  <li><a href="#popup" class="menu-header_link">Вход/Регистрация</a></li>-->
                    </ul>
        </nav>
        </div>
        </div>
        </div>
      </header>
        <div class="contentcatalog">
          <h1 class="idea">Каталог идей</h1>
          <div class="select">
            <select class="sort" name="sortcatalog">
              <option value="">Отсортировать по:</option>
              <option value="">по алфавиту</option>
              <option value="">по популярности</option>
              <option value="">по дате</option>
            </select>
          </div>
          <div class="catalog">

            <div th:each="idea : ${ideas}" class="info">
              <ul >
                <li class="title" th:text="${idea.title}">Название</li>
                <li class="rate" th:text="${idea.rate}">Рейтинг</li>
              </ul>
              <ul >
                <li class="name" th:text="${idea.lastName + ' ' + idea.name + ' ' + idea.middleName }">Имя</li>
                <li class="date" th:text="${idea.date}">Дата</li>
              </ul>
              <p  class="des" >Описание</p>
              <p  class="description" th:text="${idea.description}">Описание</p>
            </div>





          </div>
          <div id="popup" class="popup">
            <a href="#header" class="popup_area"></a>
            <div class="popup_body">
              <div class="popup_content">
                <div class="popup_title">Вход</div>
                <div class="popup_text">
                    <form  action="#" method="post">
                      <div class="popup_text_vev">
                        <p class="popup_text_type">Логин или email:</p>
                        <input class="popup_text_login" placeholder="Введите логин..." type="text" name="username" tabindex="1" value="">
                      </div>
                      <div class="popup_text_vev" >
                        <p class="popup_text_type">Пароль:</p>
                        <input  class="popup_text_pass" placeholder="Введите пароль..." type="password" name="userpass" tabindex="2" value="">
                      </div>
                      <div class="popup_text_go">
                        <button class="popup_text_btn" tabindex="3" type="submit">Войти</button>
                        <a class="popup_text_regist"href="regist.html">Регистрация</a>
                      </div>
                    </form>

                </div>
              </div>
            </div>
          </div>
        </div>
          <footer class="footer">
            <div class="conteiner">
              <div class="footer_row">
                <div class="footer_text"> 2020 &copy; MAGNIT</div>
              </div>
            </div>
          </footer>
    </div>


  </body>
</html>
