@charset "UTF-8";
/*Обнуление*/
* {padding: 0;margin: 0;border: 0;}

*,*:before,*:after {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

ul li {
  list-style: none;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}


a:hover {
  text-decoration: none;
}


img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body{
  width: 850px;
  font-family: Taxoma;
  background: #e0dee0;
  margin: 0 auto;

}
.logo{

    padding: 25px;
    width: 220px;
    height: auto;
  }
.trip{
  display: flex;
  align-items: center;
  padding:15px 0;
  margin:0 0 0 30px;
  &_p{
    padding-left: 5px;
  }
}
.group{
  display: flex;
  align-items: center;
  padding: 7px;
  margin: 15px;
}
h1{
  margin: 0;
  font-size: 25px;
  font-weight: 600;
  padding-left: 10%;
  padding-bottom: 7px;
  border-bottom: 2px solid #e70329;
}
.subform{
font-family: Geneva, Arial, Helvetica, sans-serif;

}
label{
  display: inline-block;
  width: 200px;
  vertical-align: top;

}
textarea{
  resize: none;
  overflow: auto;
}
.menu-header_link{
  margin: 25px;
  font-size: 25px;
  color: red;
}
.input_text{
  box-shadow: inset 0 0 10px rgba(338, 98, 98, 0.4);
  padding: 5px;
  border: 1px solid rgba(338, 98, 98, 0.4);
  width: 175px;
}
.form_group{
  padding: 20px 0 5px 35px;
  &_btn{
    font-size: 15px;
    font-weight: 600;
    color:  #e3b9c0;
    background-color: rgb(255,0,42);
    border: 1px solid rgba(211,2,37, 0.8);
    padding: 6px;
    margin-top: 7px;
    margin-left: 70px;
    width: 200px;
  }
}
